@using App.Core.Entities
@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ul>
        @foreach(var user in Model){
            <li>@user.UserName</li>
        }
    </ul>
</div>
